.in-banner{
	&.in-blog {
		&:after {
			content: none;
		}
	}
}
.in-blog {
	background: #F5F5F5;
	.in-nuestro {
		padding-top: 108px;
		position: relative;
		margin-top: -40px;
		padding-bottom: 16px;
	}
}


