/* global style blocks add end prefix -g */
.bg-gray {
	background-color: #f5f5f5;
}
.in-masters-g {
	padding-top: 130px;
	padding-bottom: 150px;
	.offset-left {
		flex: 0 0 31.33333%;
		max-width: 31.33333%;
	}
	&__title {
		font-size: 2.812em;
		font-weight: 300;
		line-height: 1.11;
		color: $black;
		margin-bottom: 30px;
		display: block;
		b, strong {
			font-weight: 700;
			br {
				display: none;
			}
		}
	}

	&__descr {
		font-family: $opensans;
		font-size: 1.25em;
		font-weight: $weightdefault;
		line-height: 1.5;
		color: $black;
		position: relative;
		padding-left: 55px;
		max-width: 807px;
		p {
			font-size: 1em;
			line-height: 1.5;
		}
		&:after {
			content: '';
			display: block;
			width: 3px;
			height: 100%;
			background: $hover-link;
			position: absolute;
			left: -15px;
			top: 0;
		}
		b, strong {
			font-weight: 600;
		}
	}
}
.in-nav-map-page-g {
	padding-top: 27px;
	padding-bottom: 25px;
	background-color: #f5f5f5;
	position: sticky;
	top: 0;
	z-index: 7;
	transition: all .4s;
	&.transform-map-page {
		position: fixed;
		left: 0;
		right: 0;
	}
	&.fix {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #E1E1E1;
		.nav-map-page {
			.nav-item {
				.nav-link {
					font-size: 14px;
					&.active {
						font-size: 14px;
					}
				}
			}
		}
		.btn-solicitar {
			font-size: 14px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
	.nav-map-page {
		align-items: center;
		justify-content: space-between;
		display: flex;
		.nav-item {
			.nav-link.active {
				font-size: 16px;
				color: $black;
				&:after {
					background: $hover-link;
				}
			}
			.nav-link {
				font-size: 16px;
				color: $black;
				position: relative;
				text-decoration: none;
				padding: 0 2px 5px;
				transition: all .3s;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: transparent;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					transition: all .8s;
				}
				&:hover:after {
					background: $hover-link;
				}
			}
		}
	}
}
.in-objectivos-g {
	padding-bottom: 120px;
	.row > div:nth-child(2) {
		.in-objectivos-g__item {
			margin: 0 auto 35px;
		}
	}
	&__item {
		padding: 50px 27px 17px;
		border: 1px solid #e5e5e5;
		position: relative;
		max-width: 405px;
		margin-bottom: 35px;
		height: 100%;
		&:after {
			content: '';
			display: block;
			width: 79px;
			height: 7px;
			background: $hover-link;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.number {
			font-size: 100px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 70px;
			letter-spacing: normal;
			color: #6caf2e;
			margin-bottom: 20px;
			display: block;
		}
		h3 {
			font-size: 24px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.25;
			letter-spacing: normal;
			margin-bottom: 13px;
		}
		p {
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			margin-bottom: 0;
		}
	}
}
.in-programa-g {
	padding-top: 150px;
	padding-bottom: 100px;
	.section-title {
		margin-bottom: 50px;
	}
	&__item:last-child {
		border-bottom: none;
		margin-bottom: 0
	}
	&__item {
		border-bottom: 1px solid #d4d4d4;
		margin-bottom: 32px;
		input[type='radio']:checked + label + .text,
		input[type='checkbox']:checked + label + .text {
			opacity: 1;
			height: auto;
			visibility: visible;
			font-size: 20px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			margin-bottom: 27px;
		}
		input[type='radio']:checked + label,
		input[type='checkbox']:checked + label {
			&:after {
				content: '-';
			}
		}
		label {
			font-size: 24px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.25;
			letter-spacing: normal;
			padding-right: 25px;
			padding-bottom: 25px;
			display: block;
			position: relative;
			transition: all .3s;
			&:hover {
				cursor: pointer;
				color: $hover-link;
				&:after {
					color: $hover-link;
				}
			}
			&:after {
				content: '+';
				font-family: Montserrat;
				font-size: 36px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				letter-spacing: normal;
				color: $black;
				position: absolute;
				right: 0;
				top: -9px;
				transition: all .4s;
			}
			strong,
			b {
				font-weight: 600;
			}
		}
		.text {
			font-size: 0;
			line-height: 0;
			opacity: 0;
			height: 0;
			visibility: hidden;
			padding-left: 132px;
			
		}
	}
}
.in-profile-student-g {
	padding-top: 155px;
	padding-bottom: 40px;
	&__info {
		max-width: 575px;
		.title {
			margin-bottom: 9px;
		}
		.subtitle {
			margin-bottom: 13px;
		}
		p {
			margin-bottom: 40px;
		}
	}
}
.in-nuestro-methodo-g {
	position: relative;
	padding-top: 76px;
	padding-bottom: 82px;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 176px;
		right: 0;
		width: 85%;
		height: 100%;
		background: $bg-blue;
		z-index: 1;
	}
	.section-title {
		margin-bottom: 115px;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	&__image {
		position: relative;
		left: -13%;
	}
	&__list {
		counter-reset: section;
		.item:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.item {
			color: $white;
			border-bottom: 1px solid rgba(255, 255, 255, .3);
			padding-bottom: 17px;
			position: relative;
			padding-left: 110px;
			margin-bottom: 20px;
			&:before {
				position: absolute;
				left: 0;
				counter-increment: section;
				content: counter(section) ".";
				font-size: 6.25em;
				line-height: .8em;
				font-weight: 300;
				letter-spacing: normal;
				color: $hover-link;
				display: inline-block;
			}
			label {
				div,
				&:after {
					transition: all .3s;
				}
				&:hover {
					&::after {
						color: $hover-link;
					}
					div {
						color: $hover-link;
					}
				}
			}
			input[type="checkbox"]:checked + label {
				&:after {
					content: '-';
					top: 10%
				}
			}
			input[type="checkbox"]:checked + label + .subtitle ~ .text,
			input[type="checkbox"]:checked + label ~ .text {
				font-size: 1em;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.63;
				letter-spacing: normal;

				visibility: visible;
				opacity: 1;

				* {
					font-size: 1em;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.63;
					letter-spacing: normal;
				}
				p {
					margin-bottom: 35px;
				}
			}
			label {
				font-size: 1.5em;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.25;
				letter-spacing: normal;
				margin-bottom: 4px;
				display: block;
				position: relative;
				transition: all .3s;
				&:hover {
					cursor: pointer;
					//color: $hover-link;
				}
				&:after {
					content: '+';
					font-size: 2.25em;
					line-height: 2.25em;
					font-weight: 300;
					position: absolute;
					right: 0;
					top: 17%;
					transform: translate3d(0, -50%, 0);

				}
			}
			.subtitle {
				display: block;
				margin-bottom: 7px;
				font-family: $opensans;
				padding-right: 35px;
				min-height: 50px;
			}
			.text {
				font-size: 0;
				line-height: 0;
				opacity: 0;
				visibility: hidden;
				padding-right: 35px;

				* {
					color: $white;
					font-size: 0;
					line-height: 0;
					margin-bottom: 0;

					transition: all .3s;
				}
			}
		}
	}
}
.in-profesores-g {
	padding-top: 150px;
	padding-bottom: 90px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -26px;
		margin-right: -26px;
		padding: 0 15px;
		&.too-column.too-colum-right-block {
			.arrow-left {
				position: relative;
				display: flex;
				margin-left: auto;
				margin-right: auto;
				&:before {
					content: '';
					display: block;
					width: 2px;
					height: 100%;
					position: absolute;
					left: 15px;
					top: 0;
					background: $hover-link;
				}
				.in-quote__title {
					display: block;
					text-align: left;
					padding-left: 80px;
					padding-right: 0;
					font-size: 2.25em;
				}
				.span {
					display: block;
					font-size: 2.25em;
					font-weight: 300;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.17;
					letter-spacing: normal;
					b {
						font-weight: 500;
					}
				}
			}
		}
		&.too-column {
			width: 100%;
			.item {
				width: 50%;
				> div {
					display: flex;
					align-items: flex-end;
					max-width: 100%;
					color: $black;
					&:hover:after {
						content: none;
					}
					&:after {
						content: none;
					}
					&:hover {
						.descr {
							font-size: 1em;
						}
					}
					.descr {
						opacity: 1;
						visibility: visible;
						font-size: 1em;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.44;
						letter-spacing: normal;
					}
				}
				img {
					max-width: 307px;
					width: auto;
				}
				.block {
					position: relative;
					top: 0;
					left: 0;
					padding: 0;
					padding-left: 29px;
				}
				.descr {
					opacity: 1;
					visibility: visible;
					font-size: 1.125em;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.44;
					letter-spacing: normal;
				}
			}
		}
	}
	.item {
		width: 33.33333333333333%;
		padding-left: 26px;
		padding-right: 26px;
		margin-bottom: 52px;
		> div {
			max-width: 404px;
			position: relative;
			color: $white;
			&:hover {
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 1;
					background: rgba(108,175,46,.95);
				}
				.descr {
					opacity: 1;
					visibility: visible;
					font-size: 1.125em;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.44;
					letter-spacing: normal;
				}
			}
			// &:after {
			// 	content: '';
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	opacity: .4;
			// 	background-image: linear-gradient(to top, #000000 7%, rgba(229, 229, 229, 0));
			// }
		}
		
		.block {
			padding: 37px 38px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			overflow: hidden;
			transition: all .3s;
			z-index: 1;
		}
		img.img-responsive {
			width: auto;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			width: 100%;
		}
		.name {
			font-size: 1.5em;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.25;
			margin-bottom: 6px;
		}
		.spec {
			font-family: $opensans;
			font-size: 1.125em;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.44;
			letter-spacing: normal;
			margin-bottom: 20px;
		}
		.descr {
			font-family: $opensans;
			font-size: 0;
			line-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all .3s;
		}
	}
}
.in-certificacion-off-g {
	overflow: hidden;
	padding-top: 159px;
	padding-bottom: 0;
	.container {
		position: relative;
	}
	&.one-sertificat {
		.item {
			padding-left: 187px;
			.icon {
				left: 0;
				top: 50%;
				transform: translate3d(0, -50%, 0);
			}
			input[type="checkbox"]:checked + label:after {
				content: none;
			}
			label {
				margin-top: 0;
				&:after {
					content: none;
				}
			}
			.descr {
				font-size: 1em;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.63;
				letter-spacing: normal;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				p {
					font-size: 1em;
					line-height: 1.63;
					color: $white;
				}
			}
		}
		.left {
			padding-top: 155px;
			padding-bottom: 125px;
		}
		.right {
			&:before,
			&:after {
				background-color: $hover-link;
				height: calc(100% - 20%);
				width: 59%;
			}
			.item {
				label {
					&:hover,
					&:active,
					&:visited {
						color: $white;
					}
				}
			}
			.descr {
				ul {
					li {
						&::before {
							background-color: $white;
							top: 7px;
						}
						margin-bottom: 10px;
					}
				}
			}
			.block {
				padding-top: 80px;
				padding-bottom: 80px;
			}
		}
	}
	.left-block {
		position: unset;
		&:before {
			content: '';
			display: block;
			width: 50%;
			height: 100%;
			background: $bg-gray;
			position: absolute;
			top: 0;
			left: -50%;
			bottom: 0;
		}
		&:after {
			content: '';
			display: block;
			width: 50%;
			height: 100%;
			background: $bg-gray;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
		}
	}
	.left {
		max-width: 420px;
		position: relative;
		z-index: 2;
		padding-top: 147px;
    	padding-bottom: 113px;
		h3 {
			font-size: 30px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.07;
			letter-spacing: normal;
			margin-bottom: 11px;
		}
		.subtitle {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 30px;
		}
		p + .subtitle {
			margin-bottom: 7px;
		}
	}
	.right {
		position: unset;
		&:before {
			content: '';
			display: block;
			width: 55%;
			height: calc(100% - 106px);
			background: $bg-blue;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate3d(0, -50%, 0);
		}
		&:after {
			content: '';
			display: block;
			width: 55%;
			height: calc(100% - 106px);
			background: $bg-blue;
			position: absolute;
			top: 50%;
			right: -50%;
			transform: translate3d(0, -50%, 0);
		}
		.block {
			padding-top: 162px;
			padding-bottom: 159px;
			position: relative;
			z-index: 2;
		}
	}
	.item:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.item {
		color: $white;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		padding-bottom: 33px;
		padding-left: 111px;
		margin-bottom: 24px;
		position: relative;
		&.no-icon {
			padding-left: 0;
			& > .icon {
				display: none !important;
			}
		}
		input[type="checkbox"]:checked + label {

			&:after {
				content: '-';
				top: 40%;
			}

			& + .descr {
				font-size: 1em;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.63;
				letter-spacing: normal;
				color: $white;
				opacity: 1;
				visibility: visible;
				height: auto;
				p {
					font-size: 1em;
					line-height: 1.63;
					color: $white;
				}
			}
		}
		.icon {
			position: absolute;
			left: 31px;
			top: 0;
		}
		label {
			font-size: 1.5em;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.25;
			letter-spacing: normal;
			margin-bottom: 4px;
			// margin-top: 40px;
			padding-right: 35px;
			display: block;
			position: relative;
			transition: all .4s;
			&:hover, {
				cursor: pointer;
				color: $hover-link;
				&::after {
					color: $white;
				}
			}
			&:after {
				content: '+';
				font-size: 2.25em;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.39;
				letter-spacing: normal;
				position: absolute;
				right: 4px;
				top: 50%;
				transform: translate3d(0,-50%,0);
			}
		}
		.descr {
			font-size: 0;
			line-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all .3s;
			p {
				margin-bottom: 0;
				font-size: 0;
				line-height: 0;
			}
		}
	}
}
.in-form-g.in-slider {
	background: $bg-gray;
	position: relative;
	padding-bottom: 0;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: $bg-blue;
		display: block;
		width: 100%;
		height: 68.5%;
		z-index: 1;
	}
}
.in-form-g {
	.row {
		position: relative;
		z-index: 2;
	}
	&__block {
		background: $hover-link;
		padding-top: 120px;
		margin-top: 155px;
		padding-bottom: 130px;
		border-radius: 0 0 100px 0;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: -49%;
			width: 50%;
			height: 100%;
			background: $hover-link;
			z-index: 1;
		}
		> div {
			position: relative;
			z-index: 2;
		}
	}
	.in-quote__title {
		b, strong {
			font-weight: 700;
		}
	}
	.form {
		max-width: 491px;
	}
}
.before-line-g {
	position: relative;
	padding: 25px 0;
	&:before {
		content: '';
		display: block;
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -15px;
		bottom: 0;
		background: $hover-link;
	}
}
.after-line-g {
	position: relative;
	padding: 25px 0;
	&:after {
		content: '';
		display: block;
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		background: $hover-link;
	}
}
.in-breadcrump-g {
	text-align: center;
	margin-bottom: 155px;
	.breadcrump-list {
		font-family: $opensans;
		font-size: 1.125em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $white;
		li {
			display: inline-block;
			color: $white;
			padding: 0 7px;
			text-align: center;
		}
		a,
		span {
			display: block;
			background: #d8d8d8;
			color: $white;
			line-height: 39px;
			width: 39px;
			height: 39px;
			transition: all .3s;
			&:hover {
				background: $hover-blue;
			}
		}
		.prev-page {
			
		}
		.next-page {

		}

		.active {
			span {
				background: $hover-link;
			}
		}

		a {

		}
		span {

		}
	}
}
.in-blog-result-g {
	& + .in-nuestro {
		margin-top: 0 !important;
		padding-top: 75px !important;
	}
	.title {
		font-family: $montserrat;
		font-size: 1.875em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.07;
		letter-spacing: normal;
		color: $black;
		text-align: center;
		margin-top: 75px;
		margin-bottom: 20px; 
	}
	.block-btn {
		text-align: right;
		a {
			display: inline-flex;
			align-items: center;
			font-family: $opensans;
			font-size: 0.875em;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.86;
			letter-spacing: normal;
			text-align: right;
			color: $black;
			i {
				margin-left: 10px;
			}
		}
	}
	.section-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 150px;
		margin-bottom: 0;
		&.pc-block {
			margin-top: 68px;
		}
		.block-btn {
			a {
				font-size: 14px;
			}
		}
	}
}
.in-tags-g {
	font-size: 0;
	margin-left: -9px;
	margin-right: -9px;
	li {
		display: inline-block;
		font-size: 16px;
		padding-left: 9px;
		padding-right: 9px;
		margin-bottom: 14px;
		a {
			font-family: $montserrat;
			font-size: 0.875em;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.86;
			letter-spacing: normal;
			color: $black;
			border: solid 2px #f5f5f5;
			background-color: #f5f5f5;
			display: block;
			padding: 3px 10px;
			transition: all .3s;
			&:hover {
				color: $white;
				background: $hover-link;
			}
		}
	}
}
.in-comments-g {
	background: $bg-gray;
	font-family: $opensans;
	.title {
		font-size: 1.875em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.07;
		letter-spacing: normal;
		margin-bottom: 25px;
	}
	.block {
		max-width: 757px;
		margin: 0 auto;
		width: 100%;
	}
	.comment-list {
		.item {
			border-bottom: 1px solid #d4d4d4;
			padding-bottom: 30px;
			margin-bottom: 25px;
			font-size: 1em;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			overflow: hidden;
			p {
				margin-bottom: 15px;
			}
			a {
				font-weight: 400;
			}
			.replay {
				border-top: 1px solid #d4d4d4;
				padding-top: 25px;
				margin-top: 30px;
				max-width: 650px;
				float: right;
				clear: both;
			}
		}
	}
}
.in-leave-comment-g {
	margin-top: 75px;
	padding-bottom: 128px;
	&__title {
		font-size: 1.875em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.07;
		letter-spacing: normal;
		color: $black;
		margin-bottom: 36px;
	}
	.form {
		input,
  		textarea {
  			background: $white;
  			border: solid 1px #e5e5e5;
  		}
  		textarea {
  			min-height: 104px;
  		}
  		.check-rule {
  			label {
  				color: $black;
  				&:before {
					border: solid 1px #e5e5e5;
					background-color: #ffffff;
  				}
  				&:after {

  				}
  			}
  			a {
  				color: $black;
  				text-decoration: underline;
  			}
  		}
  		.d-flex {
  			align-items: center;
  			display: flex;
  			justify-content: space-between;
  		}
  		.block-btn {
  			margin-top: 0;
  			button,
  			input {
  				background: $hover-link;
  			}
  		}
	}
}
.in-search-panel {
	margin-top: -42px;
	position: relative;
	z-index: 2;
	background: transparent;
	&.in-search-result {
		.bg {
			flex-direction: column;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.block-search {
			margin-right: auto;
			max-width: 645px;
			width: 100%;
			input {
				width: 100%;
				padding: 14px 60px 14px 24px;
			}
		}
		.search-form {
			input {
				min-height: 54px;
				height: auto;
			}
			button {
				min-height: 54px;
				height: 54px;
			}
		}
	}

	.bg {
		padding: 15px 50px;
		background: $white;
		width: 100%;
		display: flex;
		& > form {
			width: 100%;
			display: flex;
			align-items: center;
		}
	}

	.block-filter {
		font-family: $montserrat;
		font-size: .875em;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $black;
		display: flex;
		flex-wrap: wrap;
		width: 75%;
		> div:first-child {
			margin-left: 0;
		}
		> div {
			margin-left: 50px;
		}
		select {
			font-family: $montserrat;
			font-weight: 700;
			border: 0;
			border-bottom: 1px solid #E9E9E9;
			padding: 5px 15px 5px 0;
			margin-left: 15px;
			background: $white;
			
			appearance: none;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='451.847px' height='451.847px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3C/svg%3E");
			background-position: right 0 top 50%, 0 0;
			background-size: .65em auto, 100%;
			background-repeat: no-repeat, repeat;
		}
	}
	.block-filter + .block-search {
		.search-form {
			input {
				width: 100%;
			}
			box-sizing: border-box;
			max-width: 256px;
		}
	}
	.block-search {
		margin-left: auto;
	}
	&.in-search-result {
		.section-title {
			font-family: $montserrat;
			font-weight: 600;
			font-size: 1em;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.07;
			letter-spacing: normal;
			color: $black;
			text-align: center;
			width: 100%;
			div {
				font-size: 1.875em;
				display: block;
				margin-bottom: 20px;
			}
			&__sub {
				font-size: 1.25em;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.25;
				letter-spacing: normal;
				text-align: center;
				color: $black;
				margin-bottom: 26px;
			}
		}
	}
}

.mobile-block,
.mobile-block-p {
	.list-skills {
		display: flex;
		margin-top: 39px;
		.item:first-child {
			padding-left: 0;
		}
		.item {
			display: flex;
			flex-direction: column;
			text-align: left;
		}
		.icon {
			position: relative;
			left: 0;
			top: 0;
			margin-bottom: 7px;
		}
		span {
			display: block;
			margin-bottom: 3px;
		}
	}
}
.list-skills {
	.item {
		position: relative;
		padding-left: 48px;
	}
	span {
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.25;
	}
	.icon {
		position: absolute;
		left: 0;
		top: 0;
		width: 36px;
		height: 36px;
	}
}
.mobile-block,
.mobile-block-p {
	display: none;
}
.top-scroll {
	position: fixed;
	display: block;
	width: 39px;
	height: 39px;
	bottom: 57px;
	right: 33px;
	border: 1px solid $white;
	background-color: $hover-link;
	text-align: center;
	z-index: 7;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	&:after {
		content: '';
		display: inline-block;
		background: url(../assets/sprite/spritex1.png) -234px 318px;
		width: 23px;
		height: 11px;
		transform: rotate(-90deg);
		margin-top: 14px;
	}
	&:hover {
		cursor: pointer;
	}
	&.show {
		visibility: visible;
		opacity: 1;
	}
}
/* /global style blocks add end prefix -g*/
.search-form {
	font-family: $montserrat;
	font-size: .875em;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.86;
	letter-spacing: normal;
	color: $black;
	position: relative;
	input {
		border: solid 1px #d4d4d4;
		padding: 14px 60px 14px 24px;
		height: 52px;
		font-family: $montserrat;
		font-weight: 700;
	}
	button {
		background: $hover-blue url(../assets/sprite/spritex1.png) no-repeat -605px -202px;
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 52px;
		height: 52px;
		border: none;
		transition: all .3s;
		&:hover {
			background-color: $hover-link;
		}
	}
}
.btn {
	background: $black;
	font-family: $montserrat;
	font-size: 1em;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $white;
	display: inline-block;
	padding: 17px 24.5px 16px;
	border: none;
	outline: none;
	transition: all .3s;
	&:hover {
		color: $white;
		background: $hover-blue;
	}

	&.red {
		background: #ff3d46;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		line-height: normal;
		border: 2px solid transparent;
		&:hover {
			background: transparent;
			border: 2px solid #ff3d46;
			color: #ff3d46;
		}
		&.outline {
			background: transparent;
			border: 2px solid #ff3d46;
			color: #ff3d46;
			&:hover {
				background: #ff3d46;
				color: #fff;
			}
		}
	}
}
.title-page {
	font-size: 3.75em;
	line-height: 1.03;
	text-transform: none;
	font-weight: 700;

	.bottom-arrow {
		padding-bottom: 22px;
		position: relative;
		display: inline-block;
	}
	.bottom-arrow:after {
		content: '';
		height: 2px;
		background: $hover-link;
		width: 400%;
		display: block;
		position: absolute;
		left: -300%;
		bottom: 0;
	}

}
.btn-play-video {
	width: 160px;
	height: 160px;
	border-radius: 100%;
	background: $hover-link url(../assets/icon/boton-play.png) no-repeat 57% 51%;
	border: none;
	outline: none;
	margin: 0 auto;
	transition: all .3s;
	&:hover {
		background-color: $bg-blue;
	}
}
.flex-end {
	align-items: flex-end !important;
}
.align-items-center {
	align-items: center;
}
.align-items-start {
	align-items: flex-start;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.image-gradient {
	position: relative;
	&:after {
		content: '';
		background: linear-gradient(to top, rgba(0, 0, 0, .4) 12%, rgba(229, 229, 229, 0));
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.img-responsive {
	max-width: 100%;
	max-height: 100%;
}
.btn-solicitar {
	display: inline-block;
	background-color: $hover-link;
	font-size: 16px;
	font-weight: 600;
	color: $white;
	padding: 16px 26px;
	text-align: center;
	border: none;
	transition: all .3s;
	&:hover {
		background: $hover-blue;
		color: $white;
	}
}
.socila-button {
	display: flex;
	align-items: center;
	margin-left: -8px;
	margin-right: -8px;
	li {
		padding: 0 8px;
		.link {
			display: inline-block;
			vertical-align: middle;
			background: url(../assets/social/social-icons.png) no-repeat;
			transition: none;
			&:hover {
				cursor: pointer;
			}
		}
		.instagram {
			width: 27px;
			height: 28px;
			background-position: -25px -175px;
			&:hover {
				background-position: -149px -97px;
			}
		}
		.facebook {
			width: 12px;
			height: 23px;
			background-position: -87px -25px;
			&:hover {
				background-position: -25px -25px;
			}
		}
		.youtube {
			width: 29px;
			height: 21px;
			background-position: -254px -168px;
			&:hover {
				background-position: -226px -97px;
			}
		}
		.twitter {
			width: 27px;
			height: 22px;
			background-position: -226px -25px;
			&:hover {
				background-position: -149px -25px;
			}
		}
		.linkedin {
			width: 26px;
			height: 24px;
			background-position: -178px -175px;
			&:hover {
				background-position: -102px -175px;
			}
		}
	}
}
.header-no-fixed {
	.socila-button.head {
		li {
			.instagram {
				background-position: -25px -89px;
			}
			.facebook {
				background-position: -80px -25px;
			}
			.youtube {
				background-position: -211px -84px;
			}
			.twitter {
				background-position: -87px -151px;
			}
			.linkedin {
				background-position: -149px -89px;
			}
		}
	}
}
.socila-button.head {
	li {
		.link {
			background-image: url(../assets/social/social-icon-head.png);
			transition: none;
		}
		.instagram {
			width: 12px;
			height: 14px;
			background-position: -135px -25px;
			&:hover {
				background-position: -25px -89px;
			}
		}
		.facebook {
			width: 5px;
			height: 10px;
			background-position: -25px -25px;
			&:hover {
				background-position: -80px -25px;
			}
		}
		.youtube {
			width: 13px;
			height: 9px;
			background-position: -197px -25px;
			&:hover {
				background-position: -211px -84px;
			}
		}
		.twitter {
			width: 12px;
			height: 10px;
			background-position: -149px -151px;
			&:hover {
				background-position: -87px -151px;
			}
		}
		.linkedin {
			width: 12px;
			height: 12px;
			background-position: -87px -89px;
			&:hover {
				background-position: -149px -89px;
			}
		}
	}
}
.btn-reserved,
.subscribe-button {
	a.reserved,
	input[type='submit'] {
		background: transparent;
		border: solid 1px $hover-link;
		height: 52px;
		font-family: $opensans;
		font-size: 1em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.56;
		letter-spacing: normal;
		color: $white;
		transition: all .3s;
		display: inline-block;
		text-decoration: none;
		&:hover {
			background: $hover-link;
			color: $white;
		}
	}
	a.reserved {
		padding: 12px 32px 9px;
	}
	input[type='submit'] {
		width: 100%;
	}
}

.list-hash-tag {
	font-family: $opensans;
	font-size: 0.9375em;
	font-weight: normal;
	line-height: 1.73;
	li {
		display: inline-block;
		margin-right: 4px;
		transition: all .1s;
		// &:not(.text):hover {
		// 	color: $hover-link;
		// }
		&:not(.text):after {
			content: '|';
			margin-left: 5px;
			color: $white;
		}
		&:last-child {
			&:after {
				content: none;
			}
		}
		a {
			color: $white;
			text-decoration: none;
			transition: all .1s;
			// &:hover {
			// 	color: $hover-link;
			// }
		}
	}
}

.in-cursos__step {
	position: absolute;
	left: 0;
	right: 0;
	transform: translate3d(0, -50%, 0);
	margin: 0 auto;
	&:after {
		content: '';
		position: absolute;
		width: calc(100% - 30px);
		height: 100%;
		margin: 0 auto;
		background: $white;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	> div {
		position: relative;
		z-index: 2;
		display: flex;
		padding-bottom: 67px;
		&:first-child .item {
			padding-left: 30px;
			&:after {
				right: -19px;
			}
		}
		&:nth-child(3) .item {
			&:after {
				right: -19px;
			}
		}
		&:last-child .item {
			padding-right: 0;
			&:after {
				content: none;
			}
		}
	}
	.item {
		color: $black;
		position: relative;
		padding-top: 25px;
		padding-right: 10px;
		padding-left: 20px;
		max-width: 280px;
		margin: 0 auto;
		background: $white;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		&:after {
			content: '';
			background: #e5e5e5;
			width: 1px;
			height: 98%;
			display: block;
			position: absolute;
			right: -28px;
			top: 32px;
		}
		span {
			font-size: 6.25em;
			font-weight: 300;
			color: $hover-link;
			display: inline-block;
		}
		h4 {
			font-size: 1.5em;
			font-weight: 600;
			line-height: 1.25;
			margin-bottom: 9px;
		}
		p {
			line-height: 1.63;
			min-height: 110px;
			max-width: 226px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* carousel feedback */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes showBlock {
	0 {
		height: 0;
		font-size: 1em;
	}
	30% {
		opacity: 0;
		height: 25%;
	}
	50% {
		opacity: .1;
		height: 50%;
	}
	70% {
		opacity: .6;
		height: 80%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.carousel {
	color: $white;
	margin-left: 45px;
	max-width: 737px;
	overflow-x: hidden;
	padding-bottom: 25px;
	&.one {
		.dots {
			display: none !important;
		}
	}
	.dots {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
		li.active {
			a {
				background: $hover-link;
			}
		}
		a {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin: 0 8px;
			background-color: $white;
			border-radius: 100px;
		}
	}
}
.carousel img.author {
	border-radius: 50%;
	margin-bottom: 14px;
}
.carousel p {
	font-size: 1.25em;
	line-height: 1.5;
	margin-bottom: 11px;
	color: $white;
}
.carousel .autor {
	font-size: 1em;
	line-height: 1.63;
	strong {
		font-weight: 700;
		font-family: $opensans;
	}
}
.carousel ol, 
.carousel li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  &.one {
  	.carousel__prev,
  	.carousel__next {
  		display: none;
  	}
  }
  // padding-top: 40%;
  // filter: drop-shadow(0 0 10px #0003);
  // perspective: 100px;
  &__viewport {
  	display: flex;
  	transition: transform .5s;
  }
}

// .carousel__viewport {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   display: flex;
//   overflow-x: scroll;
//   counter-reset: item;
//   scroll-behavior: smooth;
//   scroll-snap-type: x mandatory;
// }

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  max-width: 737px;
  /* background-color: #f99; */
  /* counter-incement: item; */
}

/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

/* .carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
} */

// .carousel__snapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   scroll-snap-align: center;
// }

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: none;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #333;
  background-clip: content-box;
  border: 0.25em solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: 0;
  width: 14px;
  height: 15px;
  font-size: 0;
  outline: 0;
  z-index: 9;
  background-repeat: no-repeat;
  &:hover {
  	cursor: pointer;
  }
}

.carousel__prev {
  left: 0;
  background-image: url(../assets/icon/carousel-arro-left.png);
}

.carousel__next {
  left: 30px;
  background-image: url(../assets/icon/carousel-arro-right.png);
}

/* /carousel feedback */
/* in-banner right block info */
.in-banner-right-block {
	background: rgba(0,15,71,.9);
	padding: 54px 53px 50px;
	max-width: 422px;
	width: 100%;
	float: right;
	ul {
		padding: 0;
		margin: 0;
		b,
		strong {
			font-weight: 800;
		}
		li:last-child {
			margin-bottom: 0;
			border: none;
		}
		li {
			font-family: $opensans;
			font-size: 1em;
			color: $white;
			padding-bottom: 9px;
			border-bottom: solid 1px rgba(255, 255, 255, 0.3);
			margin-bottom: 16px;
			line-height: 1.63;
		}
	}
}
/* /in-banner right block info */
.section-title {
	font-size: 1.875em;
	font-weight: 600;
	line-height: 1.07;
	color: $black;
	margin-bottom: 42px;
	&__sub {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.25;
		margin-top: 11px;
	}
	.title-icon {
		font-size: 45px;
		line-height: 1.1;
		text-align: center;
		font-weight: 300;

		strong,
		b {
			font-weight: 500;
		}

		&.d-flex {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 20px;
		}

	}
	.block-btn {
		text-align: right;
		a {
			display: inline-flex;
			align-items: center;
			font-family: $opensans;
			font-size: .47em;
			font-weight: 400;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.86;
			letter-spacing: normal;
			text-align: right;
			color: $black;
			background: transparent;
			&:hover {
				color: $hover-link;
				.icon-arrow-right {
					width: 23px;
					height: 11px;
					background-color: transparent;
					background-image: url(../assets/sprite/spritex1.png);
					background-position: -457px -314px;
				}
			}
			i {
				margin-left: 10px;
			}
		}
	}
}
.header.header-no-fixed {
	position: relative;
	border-bottom: solid 1px #e5e5e5;
	.logo {
		filter: invert(1);
	}
	.phone {
		a {
			color: $light;
			&:hover {
				color: $hover-link;
			}
		}
	}
	.nav-menu {
		.nav-link {
			a,
			.link-submenu {
				color: $light;
			}
			.link-submenu {
				&:after {
					border-top: 4px solid $light;
				}
			}
		}
	}
}
@import "_header";
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 8;
	&__top {
		padding-top: 7px;
		padding-bottom: 7px;
		border-bottom: solid 1px rgba(255, 255, 255, 0.3)
	}
	.phone {
		text-align: right;
		a {
			font-size: 0.875em;
			color: $white;
			text-decoration: none;
			transition: all .3s;
			&:hover {
				color: $hover-link;
			}
		}
	}
	&__main {
		// padding-top: 25px;
		// padding-bottom: 28px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.nav-menu {
		display: flex;
		justify-content: flex-end;
		.nav-link:last-child {
			padding-right: 0;
		}
		.nav-link {
			padding: 0 20px;
			font-size: 1em;
			font-weight: normal;
			a,
			.link-submenu {
				font-size: 1em;
				font-weight: normal;
				color: $white;
				text-decoration: none;
				transition: all .3s;
				&:hover {
					color: $hover-link;
					cursor: pointer;
				}
			}
			.link-submenu {
				position: relative;
				&:after {
					content: '';
					border: 4px solid transparent;
					border-top: 4px solid $white;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
					transition: all .3s;
				}
				&:hover {
					cursor: pointer;
					&:after {
						border-top-color: $hover-link;
					}
					&:before {
						content: '';
						position: absolute;
						top: 16px;
						bottom: 0;
						height: 43px;
						width: 100%;
						display: block;
						background: transparent;
					}
				}
				&:hover .submenu {
					opacity: 1;
					visibility: visible;
					z-index: 8;
				}
			}
			.submenu {
				opacity: 0;
				visibility: hidden;
				width: 383px;
				// padding: 29px 28.7px 25px 27px;
				padding: 29px 0 25px 0;
				background-color: $hover-link;
				position: absolute;
				top: 43px;
				left: 50%;
				transform: translateX(-50%);
				z-index: -1;
				transition: all 0.5s;
				li {
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: normal;
					color: #ffffff;
					// padding-bottom: 11.5px;
					// padding-top: 11.5px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.3);
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						padding-bottom: 0;
						border-bottom: 0;
					}
					a {
						display: block;
						padding: 11.5px 28.7px 11.5px 27px;
						&:hover {
							color: $black;
							background: rgba(255, 255, 255, .7);
						}
					}
				}
			}
		}
	}
}

body.in-other-pages {
	.in-banner.in-blog-article {
		.bottom-arrow {
			&:after {
				left: 0;
				right: 0;
				max-width: 715px;
				margin: 0 auto;
				width: 100%;
			}
		}
		.title {
			max-width: 1078px;
			width: 100%;
			text-align: center;
			font-size: 2.812em;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.11;
			letter-spacing: normal;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.info {
			text-align: center;
		}
		.list-hash-tag {
			a,
			span,
			li {
				font-size: .875em;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.86;
				letter-spacing: normal;
				color: $white;
			}
		}
	}
}

.in-banner.no-after-box {
	&:after {
		content: none;
	}
}
body.index {
	.in-banner {
		&:after {
			background: linear-gradient(to top, rgba(0,20,94,0.7) 0%, rgba(0, 0, 0, 0.3) 55%);
		}	
	}
}
.in-banner {
	// background: url(../assets/banner/institutomarketing-home.jpg) no-repeat center center / cover;
	background-color: #00155A;
	color: $white;
	// padding-top: 261px;
	padding-top: 30vh;
	position: relative;
	overflow: hidden;
	picture {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.img-responsive {
			height: 100%;
			width: 100%;
			object-fit: cover;
			margin: auto;
			display: block;
		}
	}
	&.curso-analitica-web {
		&:after {
			background: linear-gradient(to top, rgba(0,20,94,0.7) 0%, rgba(0, 0, 0, 0.8) 55%);
		}
	}
	&.marketing-digital {
		&:after {
			background: linear-gradient(to top, rgba(0,20,94,0.7) 0%, rgba(0, 0, 0, 0.4) 55%);
		}
	}
	&:after {
		content: '';
		background: linear-gradient(to top, rgba(0,20,94,0.7) 0%, rgba(0, 0, 0, 0.7) 55%);
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	
	.bottom-arrow,
	.top-arrow {
		padding-bottom: 22px;
		position: relative;
	}
	.bottom-arrow:after,
	.top-arrow:after {
		content: '';
		height: 2px;
		background: $hover-link;
		width: 400%;
		display: block;
		position: absolute;
		left: -300%;
		bottom: 0;
	}
	.top-arrow:after {
		bottom: auto;
		top: 0;
	}

	.title.bottom-arrow {
		display: inline-block;
	}
	.descr.top-arrow {
		display: inline-block;
		padding-top: 20px;
	}
	.title,
	.descr {
		display: block;
	}
	.title {
		// font-size: 4.375em;
		font-size: 70px;
		font-weight: bold;
		line-height: 1.03;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.descr {
		// font-size: 2.5em;
		font-size: 45px;
		font-weight: 300;
		line-height: 1.2;
	}

	.list-course__tab {
		margin-top: 13vh;
		position: relative;
		.box {
			background-color: #6CAF2E;
			display: inline-block;
			padding: 14px 46px 13px 0;
			border-radius: 0 50px 0 0;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background-color: #6CAF2E;
				transition: all .3s;
			}
		}

		.item {
			display: inline-block;
			font-family: $montserrat;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 25px;
		}
	}

	.list-course {
		// margin-top: 192px;
		background-color: rgba(0, 20, 94, 0.66);
		border-radius: 0 90px 0 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		/* &:hover:before {
			background-color: rgba(108, 175, 46, 0.75);
		} */
		transition: all .3s;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 20, 94, 0.66);
			transition: all .3s;
		}
		> .item:first-child {
			padding-left: 0;
			transition: none;
			&:hover:before {
				content: '';
				display: block;
				transition: all .3s;
				position: absolute;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background-color: rgba(108, 175, 46, 0.75);

			}
		}
		> .item:last-child {
			border-right: none;
			border-radius: 0 90px 0 0;
			&:hover {
				background-color: rgba(108, 175, 46, 0.75);
			}
		}
		.item {
			display: block;
			position: relative;
			z-index: 2;
			border-right: solid 1px rgba(255, 255, 255, 0.3);
			width: 33.33333333333333%;
			padding-left: 29px;
			text-decoration: none;
			&:hover {
				background-color: rgba(108, 175, 46, 0.75);
			}
		}
		.block {
			padding: 21px 0 22px;
			font-family: $opensans;
			font-weight: normal;
			line-height: 1.63;
			color: $white;
			span {
				font-family: $montserrat;
				font-size: 1.25em;
				font-weight: bold;
				line-height: 1.25;
				display: inline-block;
				position: relative;
				padding-bottom: 9px;
				margin-bottom: 5px;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: $hover-link;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

		}
		.icon-arrow-right {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
.in-banner + .in-quote {
	padding-top: 75px;
}
.in-quote {
	padding-top: 150px;
	padding-bottom: 150px;
	&__title {
		font-size: 2.8125em;
		font-weight: 300;
		line-height: 1.11;
		text-align: right;
		color: $black;
		position: relative;
		padding-right: 45px;
		padding-top: 40px;
		padding-bottom: 39px;
		// &:after {
		// 	content: '';
		// 	display: block;
		// 	width: 2px;
		// 	height: 100%;
		// 	background: $hover-link;
		// 	position: absolute;
		// 	right: -15px;
		// 	top: 0;
		// }
		span + span {
			font-size: 20px;
			font-weight: 300;
			font-stretch: normal;
			line-height: 1.25;
			text-align: right;
			display: block;
			margin-top: 35px;
		}
		span + span a {
			color: $white;
			font-weight: 600;
			white-space: nowrap;
		}
		img {
			margin-bottom: 23px;
		}
		strong,
		b {
			font-weight: 700;
		}
	}
	&__descr {
		font-family: $opensans;
		font-size: 1.25em;
		line-height: 1.5;
		color: $black;
		padding-left: 45px;
		max-width: 540px;
		strong {
			font-weight: bold;
		}
		p:last-child {
			margin-bottom: 0;
		}
		p {
			font-size: 1em;
			line-height: 1.5;
		}
	}
}

/* .in-slider inherit style from .in-quote */
.in-slider {
	background: $bg-blue;
	padding-top: 340px;
	padding-bottom: 150px;
	.in-quote__title,
	.in-quote__descr {
		color: $white;
	}
}

/* .block-gray inherit style from .in-quote */
.block-gray {
	.in-quote__title,
	.before-line-g {
		&:after,
		&:before {
			background: #E5E5E5;
		}
	}
}

.in-masers {
	padding-bottom: 150px;
	&__item {
		position: relative;
		display: block;
		color: $white;
		img {
			max-width: 100%;
		}
		&:after {
			content: '';
			background-image: linear-gradient(180deg, rgba(0, 20, 94, 0) 0%, #00145E 100%);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		&:hover:after {
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -27%, rgba(0,20,94, .95) -25%);
		}
		&:hover {
			.descr {
				opacity: 1;
				visibility: visible;
				font-size: 1em;
				margin-bottom: 9.5%;
			}
			.icon-arrow-right {
				background-position: -457px 316px;
			}
		}
		.block {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 30px 30px 43px;
			z-index: 2;
			color: $white;
		}
		h3 {
			padding-bottom: 13px;
			margin-bottom: 6px;
			position: relative;
			display: inline-block;
			font-size: 1.875em;
			font-weight: 600;
			line-height: 1.07;
			&:after {
				content: '';
				display: block;
				background: $hover-link;
				height: 2px;
				width: calc(100% + 43px);
				position: absolute;
				bottom: 0;
				left: -43px;
			}
		}
		.descr {
			opacity: 0;
			visibility: hidden;
			font-size: 0;
			color: $white;
			max-width: 520px;
			transition: all .3s;
		}
		.list-hash-tag {
			min-height: 50px;
		}
		.icon-arrow-right {
			position: absolute;
			bottom: 10px;
			right: 13px;
			z-index: 3;
			border-radius: 0;
			background-color: transparent;
			background: url(../assets/sprite/spritex1.png) -234px 315px;
			width: 23px;
			height: 11px;
			display: inline-block;
			&:hover {
				background-position: -457px 316px;
			}
		}
	}
}
.in-cursos.in-too-column {
	.in-cursos__item {
		padding: 54px 13px 49px 52px;
		h3 {
			margin-bottom: 22px;
		}
		p {
			margin-bottom: 15px;
		}
	}
	.block {
		max-width: 100%;
		h3 {
			br {
				display: none;
			}
		}
		p {
			padding-right: 40px;
		}
	}
	.icon {
		margin-bottom: 14px;
	}
}
.in-cursos {
	padding-bottom: 130px;
	.row {
		.col-4,
		.col-6 {
			margin-bottom: 26px;
		}
	}
	&__item {
		color: $black;
		padding: 33px 13px 14px 43px;
		border: solid 1px #e5e5e5;
		border-bottom: 3px solid $hover-link;
		overflow: hidden;
		display: block;
		text-decoration: none;
		transition: all .3s;
		height: 100%;
		&:hover {
			background-color: $hover-link;
			color: $white;
			.icon-arrow-right {
				background-image: url(../assets/arrow-right-white.png);
			}
			.analitica {
				background-position:  -25px -283px;
			}
			.ads {
				background-position: -111px -195px;
			}
			.wordpress {
				background-position: -197px -110px;
			}
			.seo {
				background-position: -111px -283px;
			}
			.community {
				background-position: -111px -25px;
			}
			.facebook {
				background-position: -25px -25px;
			}
			h3,
			p {
				color: $white;
			}

			.in-cursos__item_title {
				span {
					color: $white;
				}
			}

			.list-hash-tag {
				li:not(.text):after {
					color: $white;
				}
				li {
					color: $white;
				}
			}
		}
		.block {
			max-width: 335px;
		}
		&_title span,
		h3 {
			font-size: 1.5em;
			font-weight: 600;
			line-height: 1.25;
		}
		&_title {
			display: flex;
			column-gap: 18px;
			align-items: center; 
			text-transform: uppercase;

			margin-bottom: 5px;
			span {
				color: #6CAF2E;
			}
		}
		p {
			line-height: 1.63;
		}
		.icon-arrow-right {
			// float: right;
			// margin-top: 20px;
			position: absolute;
			bottom: 26px;
			right: 28px;
		}
		.icon {
			display: block;
			width: 36px;
			height: 36px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../assets/icon/icon-sprite-cursos.png);
		}
		.analitica {
			background-position: -197px -195px;
		}
		.ads {
			background-position: -25px -195px;
		}
		.wordpress {
			background-position: -197px -25px;
		}
		.seo {
			background-position: -283px -197px;
		}
		.community {
			background-position: -282px -25px;
		}
		.facebook {
			background-position: -283px -111px;
		}
		.list-hash-tag {
			transition: all .3s;
			li:not(.text):after {
				color: $black;
				transition: all .1s;
			}
		}
	}
}

.in-instituto {
	position: relative;
	&__photo {
		width: 100%;
		// max-height: 770px;
		// max-width: 1920px;
		margin: 0 auto;
		display: block;
	}
	.container {
		position: relative;
	}
}

.in-nuestro {
	padding-top: 150px;
	padding-bottom: 125px;
	background: $bg-gray;
	.container > .row:last-child {
		& > div {
			margin-bottom: 35px;
		}
	}
	.section-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__block {
		background: $white;
	}
	a {
		text-decoration: none;
		display: block;
		height: 100%;
		background: $white;
		color: $black;
		// &:hover {
		// 	.block-img {
		// 		&:after {
		// 			content: '';
		// 			position: absolute;
		// 			top: 0;
		// 			left: 0;
		// 			right: 0;
		// 			bottom: 0;
		// 			width: 100%;
		// 			height: 100%;
		// 			display: block;
		// 			background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 1%, rgba(108,175,46, .5));
		// 		}
		// 	}
		// }
	}

	.block-img {
		position: relative;
		img {
			width: 100%;
		}
	}
	.block {
		padding: 36px 38px 41px;
		//margin-bottom: 35px;
	}
	h5 {
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 19px;
		color: $black;
	}
	.list-hash-tag {
		li {
			font-size: 1em;
			font-weight: normal;
			line-height: 1.86;
			&:after {
				color: $black;
			}
			span,
			a {
				color: $black;
				display: inline-block;
			}
			a {
				&:hover {
					color: $hover-link;
				}
			}
		}
	}
}

/* in-partner inherit style from in-quote */
.in-partner {
	.partner-list {
		display: flex;
		flex-wrap: wrap;
		padding-left: 35px;
		.item {
			padding-left: 15px;
			padding-right: 15px;
			width: 33.33333333333333%;
			text-align: center;
			margin-top: 13px;
			margin-bottom: 13px;
			div {
				border: 1px solid #e5e5e5;
				background: $white;
			}
		}
	}
}

.in-descr {
	background: $bg-gray;
	.block-text {
		display: flex;
		flex-direction: column-reverse;
		padding-left: 35px;
		label[for='show'] {
			color: $hover-link;
			cursor: pointer;
			font-size: 0.875;
			font-weight: normal;
			line-height: 1.86;
			letter-spacing: normal;
		}
		label[for='show'] {
			color: $hover-link;
			cursor: pointer;
			font-size: 0.875;
			font-weight: normal;
			line-height: 1.86;
			letter-spacing: normal;
		}
		input#show[type='radio']:checked ~ label[for='show'] {
			display: none;
		}
		input#show[type='radio']:checked ~ label[for='hide'] {
			display: block;
		}
		input#show[type='radio']:checked ~ .descr > * {
			opacity: 1;
			visibility: visible;
			font-size: 1em;
			margin-top: 17px;
			margin-bottom: 17px;
		}
		label[for='hide'] {
			color: $hover-link;
			cursor: pointer;
			font-size: 0.875;
			font-weight: normal;
			line-height: 1.86;
			letter-spacing: normal;

			display: none;
		}
		input#hide[type='radio']:checked ~ .descr {
			> * {
				opacity: 0;
				visibility: hidden;
				transition: all .3s;
				font-size: 0;
				margin-top: 0;
				margin-bottom: 0;

				position: absolute;
				z-index: -1;
			}

			>*:first-child,
			>*:first-child + *,
			>*:first-child + * + * {
				opacity: 1;
				visibility: visible;
				font-size: 1em;
				margin-top: 17px;
				margin-bottom: 17px;

				position: relative;
				z-index: 1;
			}
		}
		// input[type='checkbox']:checked + .descr p {
		// 	opacity: 1;
		// 	visibility: visible;
		// 	font-size: 1em;
		// 	margin-top: 17px;
		// 	margin-bottom: 17px;
		// }
		.descr {
			> * {
				opacity: 0;
				visibility: hidden;
				transition: all .3s;
				font-size: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			>*:first-child,
			>*:first-child + *,
			>*:first-child + * + * {
				opacity: 1;
				visibility: visible;
				font-size: 1em;
				margin-top: 17px;
				margin-bottom: 17px;
			}
		}
	}
}

.footer {
	background: $black;
	&__top {
		background: #000F47;
		padding-top: 110px;
		padding-bottom: 130px;
		a {
			transition: all .3s;
		}
		h5 {
			font-size: 1.25em;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.25;
			letter-spacing: normal;
			color: $white;
			margin-bottom: 7px;
		}

		.txt {
			&_tel,
			&_mail {
				&:hover {
					color: #6caf2e;
				}
			}
			&_tel {
				font-family: $montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 26px;
				text-decoration: none;
				color: $white;
				display: inline-block;
				margin-top: 30px;
			}
			&_mail {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				text-decoration: none;
				color: $white;
				margin-top: 11px;
				display: inline-block;
			}
		}
		.logotype {
			font-family: $opensans;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			color: #cccccc;
			img {
				margin-bottom: 15px;
				display: block;
			}
		}
		.contacto {
			font-family: $opensans;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			color: #cccccc;
			a {
				display: block;
				text-decoration: none;
				color: $white;
				margin-top: 27px;
				&:hover {
					color: $hover-link;
				}
				&:last-child {
					margin-top: 0;
				}
			}
			p {
				color: $white;
				margin: 10px 0 0;
			}
		}
		.course-list {
			ul {
				li {
					font-family: $opensans;
					line-height: 2;
					a {
						text-decoration: none;
						color: $white;
						font-weight: 200;
						&:hover {
							color: $hover-link;
						}
					}
				}
			}
		}
		.alumnos {
			h5 {
				font-size: 20px;
				line-height: 26px;
				font-weight: 400;

				strong,
				b {
					font-weight: 600;
				}
			}
			.subscribe-button {
				margin: 30px 0;
			}
		}
	}
	.campus-online {
		margin-bottom: 30px;
		a {
			font-size: 1.25em;
			font-weight: 600;
			line-height: 1.25;
			color: $white;
			text-decoration: none;
			transition: all .1s;
			&:hover {
				color: $hover-link;
				transition: all .1s;
				.icon-target-window {
					background-position: -94px -25px;
				}
			}
		}
	}
	.social {
		font-size: 1.25em;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		color: $white;
		margin-bottom: 35px;
		.socila-button {
			margin-top: 15px;
			justify-content: center;
		}
	}
	&__bottom {
		text-align: center;
		padding-top: 19px;
		padding-bottom: 24px;
		ul {
			li {
				color: $white;
				a {
					color: $white;
				}
			}
		}
	}
}