@keyframes showFixedMenu {
	from {
		transform: translateY(-100%);
	} to {
		transform: translateY(0);
	}
}
@keyframes showFixedMenuX {
	from {
		transform: translateY(-100%);
	} to {
		transform: translateY(0);
	}
}
.header {
	transition: all .5s;
	will-change: transform;
	//overflow-x: hidden;
	&.h-100 {
		// height: 100%;
		// overflow: hidden;
	}
	&.transform-header {
		position: fixed;
		top: 0;
		animation-name: showFixedMenuX;
		animation-duration: 1s;
		background: $white;
		border-bottom: 1px solid #e5e5e5;

		.mobile-block {
			label[for="button-menu"] {
				filter: brightness(0);
			}
		}
	}
	&.fix {
		position: fixed;
		left: 0;
		right: 0;
		animation-name: showFixedMenu;
		animation-duration: 1s;
		z-index: 12;

		background: $white;
		border: solid 1px #e5e5e5;
		.header__top {
			display: none;
		}
		.header__main {
			// padding-top: 18px;
			// padding-bottom: 20px;
			padding-top: 12px;
			padding-bottom: 12px;
			img[data-fixed-head] {
				max-width: 140px;
			}
		}
		.nav-menu {
			.nav-link {
				a,
				.link-submenu {
					color: $light;
					font-size: 14px;
					.link {
						color: $light;
						&:hover {
							color: $hover-link;
						}
					}
					&:hover {
						color: $hover-link;
					}
				}
				.link-submenu {
					a {
						color: $white;
					}
					&:after {
						border-top-color: $light;
					}
					&:hover {
						&:after {
							border-top-color: $hover-link;
						}
					}
				}
			}
		}
		.phone {
			a {
				color: $light;
			}
		}
		.icon-phone {
			filter: contrast(0);
		}

	&.in-icon-black {
		border: solid 1px #e5e5e5;
		.header__top {
			border-color: #e5e5e5;
		}
		.nav-menu {
			.nav-link {
				a,
				.link-submenu {
					color: $light;
					&:hover {
						color: $hover-link;
					}
				}
				.link-submenu {
					&:after {
						border-top-color: $light;
					}
					&:hover {
						&:after {
							border-top-color: $hover-link;
						}
					}
				}
			}
		}
		.phone {
			a {
				color: $light;
			}
		}
		.icon-phone {
			filter: contrast(0);
		}
		.socila-button.head {
			display: none;
		}
	}
	}
	&.fixed {
		background: $white;
		border: solid 1px #e5e5e5;
		.header__top {
			border-color: #e5e5e5;
		}
		.nav-menu {
			.nav-link {
				a,
				.link-submenu {
					color: $light;
					&:hover {
						color: $hover-link;
					}
				}
				.link-submenu {
					&:after {
						border-top-color: $light;
					}
					&:hover {
						&:after {
							border-top-color: $hover-link;
						}
					}
				}
			}
		}
		.phone {
			a {
				color: $light;
			}
		}
		.icon-phone {
			filter: contrast(0);
		}
		.socila-button.head {
			align-items: unset;
			li {
				.link {
					background-image: url(../assets/social/social-icon-gray-light.png)
				}
				.instagram {
					width: 15px;
					height: 17px;
					background-position: -22px -5px;
				}
				.facebook {
					width: 7px;
					height: 13px;
					background-position: -5px -5px;
				}
				.youtube {
					width: 17px;
					height: 12px;
					background-position: -97px -5px;
				}
				.twitter {
					width: 15px;
					height: 14px;
					background-position: -72px -5px;
				}
				.linkedin {
					width: 15px;
					height: 15px;
					background-position: -47px -5px;
				}
			}
		}
	}
	&.in-icon-black {
		border: solid 1px #e5e5e5;
		.header__top {
			border-color: #e5e5e5;
		}
		.nav-menu {
			.nav-link {
				a,
				.link-submenu {
					color: $light;
					&:hover {
						color: $hover-link;
					}
				}
				.link-submenu {
					color: $white;
					&:after {
						border-top-color: $light;
					}
					&:hover {
						&:after {
							border-top-color: $hover-link;
						}
					}
				}
				.submenu {
					a {
						color: $white
					}
				}
			}
		}
		.phone {
			a {
				color: $light;
			}
		}
		.icon-phone {
			filter: contrast(0);
		}
		.socila-button.head {
			align-items: unset;
			li {
				.link {
					background-image: url(../assets/social/social-icon-gray-light.png)
				}
				.instagram {
					width: 15px;
					height: 17px;
					background-position: -22px -5px;
				}
				.facebook {
					width: 7px;
					height: 13px;
					background-position: -5px -5px;
				}
				.youtube {
					width: 17px;
					height: 12px;
					background-position: -97px -5px;
				}
				.twitter {
					width: 15px;
					height: 14px;
					background-position: -72px -5px;
				}
				.linkedin {
					width: 15px;
					height: 15px;
					background-position: -47px -5px;
				}
			}
		}
	}
}