.icon-thun-big {
	background-size: auto 100%;
}

.icon-analitics-ads {
    background: url(../assets/sprite/mobile/spritex.png) -874px -36px;
    width: 41px;
    height: 41px;
    display: inline-block;
}

.icon-analitics-big {
	background-image: url(../assets/icon/table/logo-analitics-copy.jpg);
	width: 64px;
	height: 64px;
}

.icon-adwords-big {
	background-image: url(../assets/icon/logoadwords.png);
	background-size: 100% 100%;
	width: 64px;
	height: 64px;
}

.icon-blueprint-big {
	background-image: url(../assets/icon/logo-blueprint.png);
	width: 56px !important;
	height: 62px !important;
}