.in-banner {
	&.master-marketing-digital {
		// background-image: url(../assets/master-marketing-digital/mobile/master-marketing-banner.jpg) !important;
		background-position: center 0 !important;
	}
	&.cursos-marketing-digital {
		// background-image: url(../assets/cursos-marketing-digital/mobile/cursos-prepagina.jpg) !important;
		background-position: 72% 0 !important;
	}
	&.curso-community-manage {
		// background-image: url(../assets/cursos-community-manager/mobile/curso-community.jpg) !important;
		background-position: center 0 !important;
		background-size: auto 70% !important;
	}
	&.curso-facebook-insta {
		// background-image: url(../assets/curso-facebook-insta/mobile/curso-facebookads.jpg) !important;
		background-position: 36% 0 !important;
		background-size: auto 75% !important;
	}
	&.curso-seo {
		// background-image: url(../assets/cursos-ceo/mobile/curso-seo.jpg) !important;
		background-position: center 0 !important;
	}
	&.curso-wordpress {
		// background-image: url(../assets/curso-wordpress/mobile/curso-wordpress.jpg) !important;
		background-position: center 0 !important;
	}
	&.curso-analitica-web {
		// background-image: url(../assets/cursos-analitica-web/mobile/curso-analitica-web.jpg) !important;
		background-position: center 0 !important;
	}
	&.curso-google-ads {
		// background-image: url(../assets/curso-google-ads/mobile/curso-google-ads.jpg) !important;
		background-position: center 0 !important;
	}
}