.in-banner {
	&.marketing-digital {
		background-size: cover !important;
	}
	&.master-marketing-digital {
		background-image: url(../assets/master-marketing-digital/table/master-marketing-banner.jpg) !important;
		background-size: cover !important;
	}
	&.cursos-marketing-digital {
		background-image: url(../assets/cursos-marketing-digital/table/cursos-prepagina.jpg) !important;
		background-size: cover !important;
	}
	&.curso-community-manage {
		background-image: url(../assets/cursos-community-manager/table/curso-community.jpg) !important;
		background-size: cover !important;
	}
	&.curso-facebook-insta {
		background-image: url(../assets/curso-facebook-insta/table/curso-facebookads.jpg) !important;
		background-size: cover !important;
	}
	&.curso-seo {
		background-image: url(../assets/cursos-ceo/table/curso-seo.jpg) !important;
		background-size: cover !important;
	}
	&.curso-wordpress {
		background-image: url(../assets/curso-wordpress/table/curso-wordpress.jpg) !important;
		background-size: cover !important;
	}
	&.curso-analitica-web {
		background-image: url(../assets/cursos-analitica-web/table/curso-analitica-web.jpg) !important;
		background-size: cover !important;
	}
	&.curso-google-ads {
		background-image: url(../assets/curso-google-ads/table/curso-google-ads.jpg) !important;
		background-size: cover !important;
	}
}