.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 8;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100vh;
}
.header {
	&__top {
		display: none;
	}
	&.in-icon-black {
		.mobile-block {
			label[for="button-menu"] {
				background-image: url(../assets/icon/mobile-menu-button-black.svg);
			}
		}
	}
	&__main {
		.nav-menu {
			display: none;
		}
	}
	.mobile-block {
		position: relative;
		overflow: hidden;
		label[for="menu-close"] {
			font-size: 26px;
			color: $white;
			transform: translateX(1000%);
			position: absolute;
			right: 43px;
			top: 43px;
			z-index: 10;
		}
		label[for="button-menu"] {
			background: url(../assets/icon/mobile-menu-button.svg) no-repeat center center;
			width: 36px;
			height: 24px;
			display: block;
			margin-left: auto;
		}
		.menu-active:checked + label ~ label[for="menu-close"] {
			position: fixed;
		}
		.menu-active:checked + label ~ .menu-block {
			position: relative;
			animation: showMobileMenu .3s ease-in-out;
			transform: translateX(0);
			padding: 93px 40px 93px 38px;
			background: $bg-blue;
			color: $white;
			position: fixed;
			right: 0;
			top: 0;
			height: 100vh;
			z-index: 9;
			max-width: 359px;
			width: 100%;
			font-size: 18px;
			.item {
				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
				}
				padding: 23px 0 20px;
				border-bottom: solid 1px rgba(255, 255, 255, 0.3);
			}
			p {
				color: $white;
			}
			.link {
				color: $white;
				&:hover {
					color: $hover-link;
				}
			}
		}
		.menu-active:checked + label ~ label[for="menu-close"] {
			animation: showMobileMenu .3s ease-in-out;
			transform: translateX(0);
		}
		
		.menu-close:checked + label ~ .menu-block {
			display: none;
		}
		.menu-block {
			overflow-y: scroll;
			animation: hideMobileMenu .3s ease-in-out;
			transform: translateX(200%);
			position: absolute;
			.item {
				a {
					color: $white;
					&:hover {
						color: $hover-link;
					}
				}
				input[type=checkbox]:checked + label ~ .submenu {
					display: block;
				} 
				input[type=checkbox]:checked ~ .link-submenu {
					color: $hover-link;
					&:after {
						background-position: -618px -518px;
					}
				}
				.link-submenu {
					position: relative;
					display: flex;
					align-items: center;
					&:after {
						content: '';
						display: inline-block;
						width: 22px;
						height: 20px;
						background: url(../assets/sprite/spritex1.png) no-repeat;
						background-position: -364px -316px;
						margin-left: auto;
					}
				}
				.submenu {
					display: none;
					padding-left: 28px;
					font-size: 16px;
					li {
						&:first-child {
							margin-top: 15px;
						}
						&:last-child {
							margin-bottom: 0;
						}
						margin-bottom: 16px;
					}
				}
			}
			// contact
			.contact {
				font-size: 14px;
				line-height: 1.3;
				border-bottom: solid 1px rgba(255, 255, 255, 0.3);
				padding-bottom: 22px;
				padding-left: 0;
				margin: 105px 0 30px;
				.phone {
					font-size: 16px;
					font-weight: 400;
					margin-bottom: 8px;
					text-align: left;
					a {
						color: $white;
					}
				}
			}
		}
	}
}

@keyframes showMobileMenu {
	0% {
		transform: translateX(200%);
	} 
	100% {
		transform: translateX(0);
	}
}
@keyframes hideMobileMenu {
	0% {
		transform: translateX(0);
	} 
	100% {
		transform: translateX(200%);
	}
}