.in-form-g {
	&.modal {
		.in-quote {
			&__title {
				font-size: 27px;
				padding-left: 4px;
				padding-right: 8px;
				margin-bottom: 42px;
				text-align: left;
				span + span {
					font-size: 16px;
					text-align: left;
					margin-top: 24px;
				}
			}
		}
		.after-line-g {
			&::after {
				content: none;
			}
		}
		.in-form-g__block {
			padding-top: 78px;
			padding-bottom: 88px;
			border-radius: 0;
			margin-left: 0;
			margin-right: 0;
			.col-5 {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0 15px;
			}
			.col-7 {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.form {
			max-width: 100%;
			margin-left: 0;
			padding-right: 0;
			padding-left: 0;
			.check-rule {
				margin-bottom: 20px;
				label {
					&:before {
						top: 3px;
					}
				}
			}
		}
	}
}