.in-nav-map-page-g {
	padding: 0;
	.container {
		padding: 0;
		.row {
			margin-left: 0;
			margin-right: 0;
			.col-12 {
				padding: 0;
			}
		}
	}
	.mobile-block {
		display: block;
		font-size: 16px;
		color: $black;
		text-align: center;
		input[type=checkbox]:checked + label ~ .list {
			display: block;
		}
		label {
			background: #e5e5e5;
			display: block;
			width: 100%;
			padding: 17px 15px;
			font-weight: 400;
			position: relative;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			&:after {
				content: '';
				width: 9px;
				height: 6px;
				display: block;
				background: url(../assets/sprite/spritex1.png) no-repeat;
				background-position: -213px -575px;
				margin-left: 8px;
				filter: contrast(0);
			}
		}
		.list {
			display: none;
			background: $bg-gray;
			padding: 37px 0;
			font-weight: 400;
			.item {
				&:last-child {
					margin-bottom: 0;
				}
				margin-bottom: 19px;
				a {
					color: $black;
				}
			}
		}
	}
}
.mobile-block.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 7;
	transition: all .3s;
	.btn-solicitar {
		width: 100%;
	}
}