.in-form-g {
	&.modal {
		.in-quote {
			&__title {
				font-size: 32px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.25;
				letter-spacing: normal;
				text-align: right;
				color: #ffffff;
				padding-left: 67px;
				padding-right: 30px;
				span + span {
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.63;
					letter-spacing: normal;
					text-align: right;
					color: #ffffff;
				}
			}
		}
		.in-form-g__block {
			padding-top: 138px;
			padding-bottom: 121px;
			.col-5 {
				flex: 0 0 44.66667%;
				max-width: 44.66667%;
			}
			.col-7 {
				flex: 0 0 54.33333%;
				max-width: 54.33333%;
			}
		}
		.form {
			max-width: 285px;
			padding-left: 0;
			padding-right: 0;
			.check-rule {
				line-height: 20px;
				label {
					a {
						display: inline-block;
						text-decoration: underline;
					}
				}
			}
		}
	}
}