article {
	font-size: 1.125em;
	h3, 
	h4, 
	h5, 
	h6 {
		margin-bottom: 18px;
	}
}
.form {
	.form-title {
		font-size: 2em;
	}
}
.title-page {
	font-size: 2.812em;
}
h3 {
	font-size: 1.5625em;
}
blockquote {
	line-height: 1.7;
}
.subtitle {
	font-size: 1.13em;
}
.in-quote {
	&__title {
		font-size: 2em;
		line-height: 1.23;
		span + span {
			font-size: 16px;
		}
	}
	&__descr {
		font-size: 1em;
		line-height: 1.65;
	}
}
.list-hash-tag {
	font-size: 0.875em;
}

.carousel {
	p {
		font-size: 1em;
		line-height: 26px;
	}
}
.section-title {
	font-size: 1.5625em;
	&__sub {
		font-size: .72em;
	}
	.block-btn {
		a {
			font-size: 14px;
		}
	}
}
body.in-other-pages {
	.in-banner {
		.title {
			font-size: 2.80em;
		}
	}
}
.in-banner {
	.title {
		font-size: 3.43em;
	}
	.descr {
		font-size: 2em;
		line-height: 1.2;
	}
	.list-course {
		.block {
			span {
				font-size: 1.13em;
			}
		}
	}
}
.in-masters-g {
	&__descr {
		font-size: 1em;
	}
}
.in-objectivos-g {
	&__item {
		.number {
			font-size: 80px;
		}
		h3 {
			font-size: 21px;
		}
		label {
			font-size: 21px;
		}
		input[type=checkbox]:checked + label + .text, 
		input[type=radio]:checked + label + .text {
			font-size: 18px;
		}
	}
}
.in-programa-g {
	&__item {
		input[type='radio']:checked + label + .text, 
		input[type='checkbox']:checked + label + .text {
			font-size: 18px;
			line-height: 25px;
		}
		label {
			font-size: 21px;
		}
	}
}
.list-skills {
	span {
		font-size: 21px;
	}
}
.in-nuestro-methodo-g {
	&__list {
		.item {
			&:before {
				font-size: 5em;
			}
			label {
				font-size: 21px;
			}
		}
	}
}
.in-profesores-g {
	.item {
		.name {
			font-size: 1.31em;
		}
		.spec {
			font-size: 1em;
		}
	}
}
.in-certificacion-off-g {
	.left {
		h3 {
			// font-size: 1.56em;
		}
		.subtitle {
			font-size: 20px;
		}
	}
	.item {
		label {
			font-size: 21px;
			&:after {
				font-size: 37px;
			}
		}
	}
}
.in-descr {
	.in-quote__title {
		span + span {
			font-size: 18px;
		}
	}
}
.in-masers {
	&__item {
		h3 {
			font-size: 1.56em;
			line-height: 1.17;
		}
	}
}
.in-cursos {
	&__item {
		h3 {
			font-size: 21px;
		}
	}
}
.in-cursos {
	&__step {
		.item {
			span {
				font-size: 80px;
			}
			h4 {
				line-height: 1.15;
				font-size: 21px;
				margin-bottom: 0;
			}
		}
	}
}
.in-nuestro {
	h5 {
		font-size: 21px;
	}
}
body.in-other-pages {
	.in-banner.in-blog-article {
		.title {
			font-size: 2em;
			line-height: 40px;
		}
	}
	.in-futuro {
		&__title {
			font-size: 2em;
		}
		.descr {
			font-size: 1em;
		}
	}
}